:root {
    --text_color: black;
    --primary_color: #20202D;
    --bg_color: #ffb85f;
    --bg_color1: rgba(246, 45, 253, 0.5);
    --bg_color2: rgba(41, 64, 195, 0.8);
    --button_color: #202020;
  }
  
  * {
    margin: 0;
    padding: 0;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body::-webkit-scrollbar {
    display: none;
  }
  
  .container {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(var(--bg_color), rgba(255, 255, 255, 0.1)), url(resourcesimageslogo\a nimation.gif);
    background-position: center;
    background-size: cover;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }
  
  .navbar {
    height: 12%;
    display: flex;
    align-items: center;
  }
  
  .logo {
    width: 50px;
    cursor: pointer;
  }
  
  nav {
    flex: 1;
    text-align: right;
  }
  
  nav ul li {
    list-style: none;
    display: inline-block;
    margin-right: 90px;
  }
  
  nav ul li a {
    text-decoration: none;
    font-size: 17px;
    color: var(--text_color);
    font-family: "Poppins", sans-serif;
    transition: 1s;
}
  
  .selected_tab {
    text-decoration: underline;
    text-decoration-color: var(primary_color);
    text-decoration-thickness: 1.5px;
    font-weight: bold;
    text-underline-offset: 10px;
    transform: translateY(-5px);
  }

  .scene {
  display: inline-block;
  width: 450px;
  height: 600px;
/*   border: 1px solid #CCC; */
  margin: 30px 0;
  perspective: 600px;
  justify-content: center;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 1s;
}

.card.is-flipped {
  transform: translateX(-100%) rotateY(-180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 20px;
}

.card__face--front {
  background: white;
  padding-left: 40px;
  padding-right: 40px;
}

.card__face--back {
  background: slateblue;
  transform: rotateY(180deg);
}

.title {
    color: var(--primary_color);
    font-size: 40px;
    font-family: "Poppins", sans-serif;
    font-weight: bolder;
    margin-top: 40px;
  }

.button{
    height: 45px;
    width: 225px;
    background-repeat: no-repeat;
    cursor: pointer;
    border: 2px solid black;
    overflow: hidden;
    outline: none;
    color: var(--button_color);
    transition: 0.5s;
}

.button1{
    border-radius: 5px 0 0 5px;
}

.button2{
    border-radius: 0 5px 5px 0;
}

.selected{
    border-color: var(--bg_color);
    background-color: var(--bg_color);
    font-family: "Poppins", sans-serif;
    font-weight: bolder;
}

.not_selected{
    border-color: var(--bg_color);
    background-color: transparent;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

.mode{
    display: flex;
    justify-content: center;
    margin-top: 60px;
}