.container {
	flex-direction: column;
}

.swiper-wrapper {
	margin-left: 40px;
	margin-right: 40px;
}

.top_half {
	display: flex;
	margin: 40px;
	margin-bottom: 20px;
	flex-direction: row;
	height: 45%;
}

.service {
	display: flex;
	flex-direction: column;
	width: 50%;
}

.banner-content {
	color: var(--primary_color);
	font-size: 15px;
	font-family: "Poppins", sans-serif;
	line-height: 25px;
	padding: 1.5em 0;
}

.banner-title {
	color: var(--primary_color);
	font-size: 50px;
	font-family: "Poppins", sans-serif;
	font-weight: bolder;
	align-self: flex-start;
	/* margin: 1em 0; */
}

.banner-image {
	border-radius: 2em;
	overflow: hidden;
}

.slideshow_image {
	display: flex;
	flex: 1;
	flex-direction: column;
	align-items: center;
}

.bottom_half {
	bottom: 0;
	margin: 20px;
}

.card {
	display: flex;
}

.card-content {
	height: 200px;
	width: 300px;
	border-radius: 15px;
	overflow: hidden;
}

.card_image {
	height: 200px;
	border-radius: 15px;
}

/* Manisha */

.carousel {
	padding: 1em 5em;
}

.banner-containers {
	padding: 4em;
	margin: 2em;
}

.hide {
	display: none;
}

.show {
	align-items: center;
	display: grid;
	grid-template-columns: 3fr 2fr;
	justify-items: center;
}

.banner {
	display: flex;
	flex-direction: column;
}

.banner-image img {
	height: 25em;
}

.bottom_half {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
}

.scroll img {
	max-height: 2.5em;
	padding: 1em;
}

.slide-wrapper {
	display: flex;
	width: 90vw;
	overflow: scroll overlay;
	padding: 0.5em 2em;
	gap: 1.5em;
}

.slide-content {
	opacity: 0.5;
	transform: scale(1);
	border: 1px solid black;
	border-radius: 2em;
}

.slide-content img {
	border-radius: 2em;
}

.selected {
	opacity: 1;
	transform: scale(1.05);
	transition: all 0.4s;
}

::-webkit-scrollbar {
	height: 5px;
	margin: 5px;
}

/* Track */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey;
	border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: gray;
	border-radius: 10px;
}
